body {
	font-family: Arial, Helvetica, sans-serif;
	background: #000;
	color: #fff;
	overflow: hidden;
}

.container {
	display: flex;
	flex-direction: column;
	background: url('img/page-bg.png') no-repeat center center/cover;
	height: 100vh;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.animated {
  font-family: 'Courgette', cursive;
	margin: 0;
	padding: 0;
	font-size: 8rem;
	background: url('img/text-bg.png') no-repeat;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: moveBg 90s linear infinite;
	-webkit-animation: moveBg 90s linear infinite;
}

@keyframes moveBg {
	0% {
		background-position: 0% 30%;
	}

	100% {
		background-position: 100% 50%;
	}
}