@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.card{
    position: relative;
    width: 400px;
    height: 350px;
    margin-top: 150px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(135deg, #d41e31, #491f8f);

    transition: 0.7s;
}

.card:nth-child(1){
    background: linear-gradient(135deg, #8d0311, #050505);

    margin-right: 80px;
}

.card:hover{
    width: 600px;
}

.card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
}

.card:hover img{
    left: 80%;
    height: 500px;
}

.card .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.card:hover .content{
    opacity: 1;
    visibility: visible;
    left: 0%;
}

.card .content h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
}

.card .content p{
    color: #fff;
}

.card .content a{
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;

    text-decoration: none;
}

@media (max-width: 991px){
    .card{
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }

    .card:hover{
        height: 600px;
    }

    .card:hover img{
        left: 50%;
        height: 350px;
    }

    .card .content{
        width: 100%;
        left: 0;
        padding: 40px;

    }
}

@media (max-width: 420px){
    .card.content{
        padding: 20px;
    }

    .card:hover img{
        height: 300px;
    }
}